<div>
    <div class="message-header">
        <h1>Message Board</h1>
        <p class="lead">Latest Messages....</p>
    </div>

    <div>
        <a href="#/newtopic">Add New Message</a>
    </div>

    <div class="progress progress-striped active" ng-show="isBusy">
        <div class="progress-bar" style="width:100%"></div>
    </div>
    <div>Number of messages: {{data.topics.length}}</div>
    <div class="messages">
        <div class="message row" ng-repeat="i in data.topics">
            <a ng-href="#/newtopic/{{i.id}}">{{i.title}}</a>
            <div class="date">{{i.created | date:"medium"}}</div>
            <div class="message-body">{{i.body}}</div>
        </div>
    </div>
</div>